.PostConstructorHeader {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.PostConstructorHeader input {
    text-indent: 10px;
    height: 50px!important;
    border-bottom: 1px solid grey;
    position: relative;
    top: 6px;
}

.PostConstructorHeader input:focus {
    border-bottom: 1px solid grey;
}

.PostConstructorHeader a {
    width: 100px;
    height: 50px;
    align-self: center;
    padding: 10px;
    text-align: center;
    background-color: green;
    color: white;
}

.PostConstructorHeader a:disabled {
    border: none;
    color: grey;
    cursor: not-allowed;
}

.PostConstructorHeader a {}