.LogWindow {
  background-color: rgb(232, 241, 231);
    margin: 5px;
    padding: 10px;
    border-radius: 0 0 5% 5%;
    z-index: 200;
    position: relative;
    float: right;
    left: -110px;
}

.avatar {
    height: 75px;
    margin-top: 20px;
    width: 100%;
    padding: 0 30%;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.close {
    transform: translateY(-1000px);
    display: none;
}

.open {
    display: flex;
    transform: translateY(0);
}
