.PostTemplate {
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  margin: 9px 0;
  border-radius: 7px;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position-x: -130px;
  background-position-y: -44px;
}
.PostTemplate:hover{
  background-size: 200% 117%;
  cursor: pointer;
}

@media(max-width:700px) {
    .PostTemplate {
        padding: 20px 10px;
    }
}
