.Avatar {
    min-width: 250px;
    width: 30%;
}

.Avatar img {
    width: 100%;
    margin: 5px;
}

@media(max-width:700px) {
    .Avatar {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .Avatar img {
        width: 100%;
        margin: -8px -1px;
    }
}
