.PostBody {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.PostBody img {
    width:100%;
    padding-bottom: 0;
}

.Content {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
p{
  word-wrap: break-word;
}

.Title {
    text-indent: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
}
